
.title, .gameWinner {
  font-size: 3rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.prompt, .rpsButtons {
  font-size: 2rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.plays {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.play {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.scores {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
